.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-link {
  color: #ffffff;
  background: #000;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 20px;
  vertical-align: middle;
  width: 80px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-selected {
  color: green;
  background: #ffffff;
}

.button {
  width: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
